@font-face {
  font-family: "iconfont"; /* Project id 3129840 */
  src: url('iconfont.woff2?t=1641806685701') format('woff2'),
       url('iconfont.woff?t=1641806685701') format('woff'),
       url('iconfont.ttf?t=1641806685701') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-logout:before {
  content: "\e78c";
}

